---
layout: default
---
<div class="post">
  <header class="post-header">
    <h3 class="post-title">
      {% if site.title == 'blank' %}
        <span class="font-weight-bold" style="font-size: 0.7em;">{{ site.first_name }}</span> 
<span style="font-size: 0.7em;">{{ site.middle_name }}</span>
<span style="font-size: 0.7em;">{{ site.last_name }}</span>
      {% else %}
        {{ site.title }}
      {% endif %}
    </h3>
    <p class="desc">{{ page.subtitle }}</p>
  </header>

  <article>
    {% if page.profile %}
  <div class="profile float-{% if page.profile.align == 'left' %}left{% else %}right{% endif %}">
    {% if page.profile.image %}
      {% assign profile_image_path = page.profile.image | prepend: 'assets/img/' %}
      {% if page.profile.image_circular %}
        <img src="{{ profile_image_path }}" alt="Profile Image" style="width: 100px; height: 100px; border-radius: 50%;">
      {% else %}
        <img src="{{ profile_image_path }}" alt="Profile Image" style="width: 100px; height: 100px;" class="img-fluid z-depth-1 rounded">
      {% endif %}
    {% endif %}
  </div>
{% endif %}


    <div class="clearfix">{{ content }}</div>



    <!-- News -->
    {% if page.news and site.announcements and site.announcements.enabled %}
      <h2>
        <a href="{{ '/news/' | relative_url }}" style="color: inherit">News</a>
      </h2>
      {% include news.liquid limit=true %}
    {% endif %}

    <!-- Latest posts -->
    {% if site.latest_posts and site.latest_posts.enabled %}
      <h2>
        <a href="{{ '/blog/' | relative_url }}" style="color: inherit">latest posts</a>
      </h2>
      {% include latest_posts.liquid %}
    {% endif %}

    <!-- Selected papers -->
    {% if page.selected_papers %}
      <h2>
        <a href="{{ '/publications/' | relative_url }}" style="color: inherit">Selected publications</a>
      </h2>
      {% include selected_papers.liquid %}
    {% endif %}

    <!-- Social -->
    {% if page.social %}
      <div class="social">
        <div class="contact-icons">{% include social.liquid %}</div>

        <div class="contact-note">{{ site.contact_note }}</div>
      </div>
    {% endif %}

    {% if site.newsletter and site.newsletter.enabled and site.footer_fixed %}
      {% include newsletter.liquid center=true %}
    {% endif %}
  </article>
</div>
